section{
  .main{
    padding: 0 10px;
    p{
      max-width: 650px;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;
      .name{
        font-weight: bolder;
      }
    }
  }
}
