/* You can add global styles to this file, and also import other style files */
:root{
  --basic-background: rgb(240, 240, 240);
  --hover-background: rgb(226, 226, 226);
  --checkbox-background: rgb(216, 216, 216);
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
