<app-header></app-header>
<main>
  <div class="app-comp">
    <form>
      <div class="form-group">
        <label for="userLogin">Login:</label>
        <input
          [(ngModel)]="userLogin"
          name="userLogin"
          type="text"
          id="userLogin"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="userPass">Password:</label>
        <input
          [(ngModel)]="userPass"
          name="userPass"
          type="text"
          id="userPass"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="userEmail">Email:</label>
        <input
          [(ngModel)]="userEmail"
          name="userEmail"
          type="text"
          id="userEmail"
          class="form-control"
        />
      </div>
      <button
        type="button"
        class="btn btn-success btn-block"
        (click)="addUser()"
        *ngIf="editIndex === null"
      >
        Add
      </button>
      <button
        type="button"
        class="btn btn-warning btn-block"
        (click)="saveEditUser()"
        *ngIf="editIndex === 0 || editIndex > 0"
      >
        Edit User
      </button>
    </form>
  </div>
 <app-users-list [ind]="editIndex" [arrUs]="arrayUsers" (onClick)="getIndex($event)"></app-users-list>
</main>

<router-outlet></router-outlet>
