<section carousel *ngIf="arrProductsTop">
  <div class="oneProduct">
    <carousel>
      <h3 class="title">Топ пропозицій:</h3>
      <slide  *ngFor="let product of arrProductsTop; let i = index">
        <img [src]="product[1].image" style="display: block; width: 100%;" (load)="onLoad()" (click)="toOneProduct(product)">
        <div class="carousel-caption d-none d-md-block" *ngIf="isLoad">
          <h1>{{product[1].nameUA}}</h1>
          <h5>{{product[1].description}}</h5>
        </div>
        <div class="d-flex justify-content-center">
          <div class="spinner-border text-warning spinner" role="status" *ngIf="!isLoad">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </slide>
    </carousel>
  </div>
</section>


