.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;

  .containerIN{
    background-color: rgb(243, 243, 243);
    width: 300px;
    p{
      text-align: center;
      font-weight: bold;
    }
    .button{
      display: flex;
      justify-content: space-between;
      button{
        width: 100px;
      }
    }
  }
}

