section{
  display: flex;
  flex-direction: column;
  align-items: center;
  .data{
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    .dataUser{
      .nameData{
        display: inline-block;
        width: 100px;
      }
      .nameData + span{
        color: gray;
      }
    }
  }
  .button{
    margin: 10px 0;
    button{
      width: 120px;
    }
  }
  .btn-success {
    color: #fff;
    background-color: var(--link);
    border: none;
    box-shadow: none;
    &:hover{
      box-shadow: 0 0 5px var(--link);
    }
    &:active{
      background-color: var(--body-background);
      box-shadow: none;
    }
  }
}

