<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/home' ]" routerLinkActive="active">home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/sales' ]" routerLinkActive="active">sales</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/pizza' ]" routerLinkActive="active">pizza</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/salad' ]" routerLinkActive="active">salad</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/drinks' ]" routerLinkActive="active">drinks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/payment' ]" routerLinkActive="active">payment</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/basket' ]" routerLinkActive="active">basket</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="[ '/admin' ]" routerLinkActive="active">admin</a>
  </li>
</ul>
