section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .basketEmpty{
    margin: 50px 0 10px 50px;
    .aRouter{
      margin-top: 20px;
      a{
        font-size: 14px;
        color: rgb(212, 199, 6);
        text-decoration: underline;
      }
    }
  }

  table{
    max-width: 400px;

    tbody{
      button{
        max-width: 100px;
      }
      p{
        margin: 0;
      }
    }
    .trTotal{
      text-align: end;
      font-weight: bolder;
    }
    .delivery{
      text-align: end;
    }
    .count{
      text-align: center;
    }
    .tr_Button {
      button{
        float: right;
      }
    }
    th, td{
      max-width: 100px;
    }
    .img{
      img{
        width: 100%;
      }
    }
    .edit{
      width: 120px;
      .productCountWrapper{
        margin: 0 auto;
        input{
          text-align: center;
          margin: 0 0.8rem;
          width: 3rem;
        }
        span{
          cursor: pointer;
          padding: 5px;
        }
      }
    }
    .address{
      td{
        vertical-align: baseline;
      }
      .address_span{
        text-align: end;
      }
      input{
        width: 100%;
        padding: 3px;
      }
    }
    .warn{
      color: red;
    }
  }

  .full{
    width: 600px;
    height: 600px;
  }

  .btn-warning {
    color: #fff;
    background-color: var(--link);
    border: none;
    box-shadow: none;
    &:hover{
      border: none;
      box-shadow: 0 0 5px var(--link);
      }
    &:active{
      background-color: var(--body-background);
    }
  }
  .btn-success {
    background-color: var(--header-background);
    border: none;
    box-shadow: none;
    &:hover{
      border: none;
      }
    &:active{
      background-color: var(--body-background);
    }
  }
}

@media (max-width: 650px) {
  section{
    .full{
      width: 400px;
      height: 400px;
    }
  }
}

@media (max-width: 450px) {
  section{
    table{
      max-width: 280px;
      th, td{
        font-size: 8px;
        max-width: 40px;
      }
      .img{
        width: 60px;
      }
      .edit{
        width: 60px;
        padding-top: 0;
        .productCountWrapper{
          display: flex;
          flex-direction: column;
          align-items: center;
          input{
            margin: 0rem;
            font-size: 8px;
          }
          span{
            padding-top: 0;
            font-size: 8px;
          }
        }
      }
      .delete button{
        padding: 5px;
      }
      .address span{
        font-size: 8px;
      }
      .address button{
        font-size: 8px;
      }
      .trButton button{
        font-size: 8px;
      }
      td p{
        font-size: 8px;
      }
    }
    .full{
      width: 280px;
      height: 280px;
    }
  }
}


