.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
  input.ng-invalid {
    border: 1px solid red;
  }
  .erorEmail{
    color: red;
  }
  h4{
    text-align: center;
    margin: 5px 0;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
}

