.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;

  input.ng-invalid {
    border: 1px solid red;
  }
  .erorEmail{
    color: red;
  }
  h4{
    text-align: center;
    margin: 5px 0;
  }
  .buttons{
    display: flex;
    justify-content: space-between;
  }
  .btn-success {
    color: #fff;
    background-color: var(--link);
    border: none;
    box-shadow: none;
    &:hover{
      box-shadow: 0 0 5px var(--link);
    }
    &:active{
      background-color: var(--body-background);
      box-shadow: none;
    }
  }
  .btn-danger {
    background-color: var(--header-background);
    border: none;
    box-shadow: none;
    &:hover{
      box-shadow: 0 0 5px var(--header-background);
    }
    &:active{
      background-color: var(--body-background);
      box-shadow: none;
    }
  }
}

