<main>
  <section class="categoriesList bigList"  *ngIf="arrCategories">
    <button type="button" class="btn btn-primary oneCategory"
          *ngFor="let oneCategory of arrCategories; let i = index"
          [class.activeCategory] = "activeCategory && oneCategory[1].nameUA === activeCategory[1].nameUA"
          (click)=clickCategory(oneCategory)>
      {{ oneCategory[1].nameUA }}
    </button>
  </section>

  <section class="smallList">
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-basic">
        Категорії <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" *ngFor="let oneCategory of arrCategories; let i = index">
          <a class="dropdown-item" (click)=clickCategory(oneCategory) [class.check] = "getCheck(oneCategory)">
            {{ oneCategory[1].nameUA }}
          </a>
        </li>
      </ul>
    </div>
  </section>

  <div class="carrousel">
    <app-carrousel></app-carrousel>
  </div>

  <section class="productsList" *ngIf="arrCurrentProducts">
    <div class="oneProduct" *ngFor="let product of returnedArray; let i = index">

      <div class="clickDetails" (click)="openDetails(product)">
        <img [src]="product[1].image" (load)="onLoad(product)"/>
      </div>
      <div class="d-flex justify-content-center">
        <div class="spinner-border text-warning m-5 spinner" role="status" *ngIf="!product[1].isLoad">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <h5 class="clickDetails" (click)="openDetails(product)">{{product[1].nameUA}}</h5>
      <p>{{product[1].description}}</p>
      <p class="pPrice"><span class="spanPrice">{{product[1].price}}</span><span class="spanValuta"> грн.</span></p>
      <div class="productCountWrapper">
        <span (click)="productCounter(product, false)" class="productCount">-</span>
        <input type="text" [value]="product[1].count">
        <span (click)="productCounter(product, true)" class="productCount">+</span>
      </div>
      <button (click)="addToBasket(product)" class="btn btn-success">Замовити</button>
    </div>
  </section>

  <div class="noProducts" *ngIf="!arrCurrentProducts">
    <h5>У вибраній категорії ще немає продуктів</h5>
  </div>

  <div class="products-pagination" *ngIf="arrCurrentProducts && arrCurrentProducts.length > paginationQuantity">
    <pagination
      [totalItems]="arrCurrentProducts.length"
      [itemsPerPage]="paginationQuantity"
      (pageChanged)="pageChanged($event)"
    ></pagination>
  </div>

</main>

