main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .smallList{
    display: none;
  }

  .categoriesList{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn-primary{
      font-weight: bolder;
      color: var(--header-background);
      background-color: var(--body-button-background);
      border-color: var(--header-background);
      box-shadow: none;
      &:hover{
        background-color: var(--body-button-background-hover);
        color: var(--a-hover);
      }
    }
    button{
      min-width: 140px;
    }
    .oneCategory{
      margin: 10px;
    }
    .activeCategory{
      background-color: var(--body-button-background-hover);
      color: var(--a-hover);
      box-shadow: none;
    }
  }

  .productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .oneProduct{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 250px;
      margin: 0.8rem;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 10px;
      overflow: hidden;
      background-color: var(--card-background);
      .btn-success {
        color: #fff;
        background-color: var(--link);
        border: none;
        box-shadow: none;
        &:hover{
          box-shadow: 0 0 5px var(--link);
          }
        &:active{
          background-color: var(--body-background);
        }
      }
      h5{
        margin: 20px 0;
      }
      p{
        padding: 0 10px;
        text-align: justify;
      }
      .pPrice{
        text-align: center;
        margin: 20px 0;
        .spanPrice{
          font-weight: bolder;
        }
      }
      img{
        width: 100%;
        margin-bottom: 0.8rem;
      }
      .productCountWrapper{
        text-align: center;
        input{
          text-align: center;
          margin: 0 0.8rem;
          width: 3rem;
        }
        span{
          cursor: pointer;
          padding: 5px;
        }
      }
      .btn{
        margin: 0.8rem 0;
        width: 150px;
        align-self: center;
      }
      .clickDetails{
        cursor: pointer;
      }
    }
  }

  .btn-primary {
    color: var(--header-background);
    background-color: var(--body-background);
    border-color: var(--header-background);
    box-shadow: none;
  }
  a.dropdown-item {
    color: var(--header-background);
    &:hover{
      background-color: var(--a-dropdown-hover);
    }
  }
  a.dropdown-item.check {
    color: var(--link);
    background-color: var(--header-background);
    &:hover{
      background-color: var(--a-dropdown-hover);
    }
  }

  .noProducts{
    display: flex;
    justify-content: center;
    h5{
      margin: 20px 50px;
    }
  }

  .products-pagination{
    margin: 20px 0;
    display: flex;
    justify-content: center;

    ::ng-deep .page-link {
      background-color: var(--body-background);
      border: 1px solid rgb(255, 255, 255);
      color: var(--header-background);

      &:hover {
        background-color: var(--header-background);
        color: var(--link);
      }
    }

    ::ng-deep .page-item {
      &.active .page-link {
        background-color: var(--header-background);
        font-weight: bolder;
        color: var(--link);
      }
    }
  }

  .spinner{
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 680px) {
  main .categoriesList {
    max-width: 400px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  main{
    .bigList {
      display: none;
    }
    .smallList {
      display: flex;
      margin: 20px 0;
      button{
        box-shadow: none;
        width: 150px;
        &:focus{
          box-shadow: none;
        }
        &:active{
          background-color: var(--body-background);
          border: none;
        }
      }
      li{
        width: 150px;
      }
    }
  }

}
