main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .smallList{
    display: none;
  }

  .categoriesList{
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button{
      min-width: 150px;
    }
    .oneCategory{
      margin: 10px;
    }
    .activeCategory{
      background-color: var(--body-background);
      color: rgb(0, 0, 0);
    }
  }

  .productsList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .oneProduct{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      width: 250px;
      margin: 0.8rem;
      border: 1px solid rgb(212, 212, 212);
      border-radius: 10px;
      overflow: hidden;
      background-color: var(--card-background);
      h5{
        margin: 20px 0;
      }
      p{
        padding: 0 10px;
        text-align: justify;
      }
      .pPrice{
        text-align: center;
        margin: 20px 0;
        .spanPrice{
          font-weight: bolder;
        }
      }
      img{
        width: 100%;
        margin-bottom: 0.8rem;
      }
      .productCountWrapper{
        text-align: center;
        input{
          text-align: center;
          margin: 0 0.8rem;
          width: 3rem;
        }
        span{
          cursor: pointer;
          padding: 5px;
        }
      }
      .btn{
        margin: 0.8rem 0;
        width: 150px;
        align-self: center;
      }
      .clickDetails{
        cursor: pointer;
      }
    }
  }

  .noProducts{
    display: flex;
    justify-content: center;
    h5{
      margin: 20px 50px;
    }
  }

  .pagination{
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 680px) {
  main .categoriesList {
    max-width: 400px;
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  main{
    .bigList {
      display: none;
    }
    .smallList {
      display: flex;
      margin: 20px 0;
      button{
        width: 150px;
        background-color: rgb(108, 212, 122);
        border: 1px solid rgb(108, 212, 122);
        &:focus{
          box-shadow: 0 0 0 0.2rem rgba(108, 212, 122, 0.3);
        }
      }
      li{
        width: 150px;
      }
    }
  }

}
