  .main{
    padding: 10px 20px;
    form{
      button{
        width: 150px;
        margin: 0 auto;
      }
      input, textarea{
        display: block;
        padding-left: 10px;
        width: 100%;
        margin: 10px 0;
      }
      textarea{
        resize: none;
      }
    }
  }