<main>
  <div class="img">
    <img src="../../../assets/2.png" />
    <p [routerLink]="[ '../works/task-list' ]"  routerLinkActive="active">details</p>
  </div>
  <div class="img">
    <img src="../../../assets/3.png" />
    <p [routerLink]="[ '../works/users-list' ]"  routerLinkActive="active">details</p><a [routerLink]="[ '../works/task-list' ]" routerLinkActive="active">name</a>
  </div>
  <div class="img">
    <img src="../../../assets/1.png" />
    <p [routerLink]="[ '../works/word-filter' ]"  routerLinkActive="active">details</p>
  </div>
</main>
