
<div class="container-fluid mt-2">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchName" name="searchName">
    </div>
  </form>
  <hr>
  <table>
    <thead>
      <th>#</th>
      <th>firstname</th>
      <th>lastName</th>
      <th>position</th>
      <th>salary</th>
      <th>startWorking</th>
      <th>description</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | search: searchName; let i=index" >
        <td>{{i+1}}</td>
        <td>{{user.firstName | uppercase}}</td>
        <td>{{user.lastName | lowercase}}</td>
        <td>{{user.position | titlecase}}</td>
        <td>{{user.salary | ua: 'CAD': 'UA'}}</td>
        <!-- <td>{{user.startWorking | date}}</td> -->
        <td>{{user.startWorking | date:'MMMM'}}</td>
        <td>{{user.description | slice: 0 : 10}}</td>
      </tr>
    </tbody>
  </table>
</div>

