.footer{
  margin-top: 30px;
  width: 100%;
  background-color: var(--header-background);
  height: 100px;
  .details{
    display: flex;
    max-width: var(--max-width);
    padding: 20px 0;
    .licence{
      width: 150px;
      height: 60px;
      margin: 0 50px;
      img{
        color: brown;
        width: 30px;
        z-index: 5;
      }
      p{
        margin-bottom: 0;
      }
    }
    .workSchedule{
      width: 150px;
      margin: 0 50px;
      p{
        margin: 0 auto;
      }
    }
    .address{
      width: 150px;
      margin: 0 50px;
      p{
        margin-bottom: 0;
      }
    }
  }
}
