
.footer{
  margin-top: 30px;
  width: 100%;
  background-color: var(--header-background);
  min-height: 100px;
  display: flex;
  justify-content: center;
  padding: 0 10px;

  .details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .licence{
      margin-top: 20px;
      width: 130px;
      height: 60px;
      img{
        color: brown;
        width: 30px;
        z-index: 5;
      }
      p{
        margin-bottom: 0;
      }
    }

    .workSchedule{
      width: 130px;
      margin: 20px 100px 0;
      text-align: center;
      p{
        margin: 0 auto;
      }
      .weekend{
          color: rgb(219, 24, 24);
        }
    }

    .address{
      margin-top: 20px;
      width: 130px;
      text-align: right;
      p{
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 670px) {
  .footer{
      margin-top: 10px;
    .details .workSchedule {
      margin: 20px 20px 0;
    }
  }
}

@media (max-width: 510px) {
    .footer .details{
      flex-direction: column;
      .licence{
        text-align: center;
        p, span{
          font-size: 10px;
        }
      }
      .workSchedule {
        margin: 20px 0 0 0;
        font-weight: bolder;
        p{
          letter-spacing: 1px;
          font-size: 10px;
        }
      }
      .address{
        text-align: center;
        margin-bottom: 20px;
        p, span{
          font-size: 10px;
        }
      }
    }
}
