<section class="footer">
  <div class="details">
    <div class="licence">
      <img src="../../../assets/pizza.png">
      <span>{{data.licenceYear}}</span>
      <p>{{data.licenceText1}}</p>
      <p>{{data.licenceText2}}</p>
    </div>
    <div class="workSchedule">
      <p>{{data.phone}}</p>
      <p>{{data.workSchedule}}</p>
      <p>{{data.weekend}}</p>
    </div>
    <div class="address">
      <p><span>{{data.index}}, </span><span>city: {{data.city}}</span></p>
      <p><span>street: {{data.street}}, </span><span>{{data.house}}</span></p>
      <p>{{data.email}}</p>
    </div>
  </div>
</section>

