.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  
  .err{
    margin-top: 1rem;
    color: red;
  }
  .button{
    display: flex;
    justify-content: space-between;
  }
  h4{
    text-align: center;
    margin: 5px 0;
  }
}


