<div class="container">
  <form #myFormCheck=ngForm class="containerIN">
      <h4>Увійти</h4>
      <div class="form-group">
          <label for="userEmail">Email</label>
          <input
          required
          pattern="^[a-zA-Z0-9_\.\-]{1,15}@[a-zA-Z]{1,6}\.[a-zA-Z]{2,6}$"
          [(ngModel)]="userEmail"
          name="email"
          #email="ngModel"
          type="text" class="form-control" id="userEmail">
          <div [hidden]="email.valid || email.untouched" class="alert alert-danger">Email incorrect</div>
      </div>

      <div class="form-group">
          <label for="userPassword">Password</label>
          <input
          required
          [(ngModel)]="userPassword"
          name="password"
          #password="ngModel"
          type="text" class="form-control" id="userPassword">
          <div [hidden]="password.valid || password.untouched" class="alert alert-danger">Password incorrect</div>
      </div>
      <div class="button">
        <button (click)="signIn()" type="button" class="btn btn-danger">Реєстрація</button>
        <button (click)="checkUser(myFormCheck)" type="button" class="btn btn-success">Увійти</button>
      </div>

      <p *ngIf="passwordError" class="err">Ви ввели неправильний пароль - cпробуйте ще раз</p>
      <p *ngIf="emailError" class="err">Ви ввели неправильний емейл. Спробуйте ще раз або перейдіть до реєстрації.</p>
  </form>
</div>
