.header {
  .smallHeader {
    display: none;
    .dropdown-toggle#button-basic{
      height: 25px;
      padding: 0;
      box-shadow: none;
    }
  }

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--header-button-active);
    color: var(--link);
  }
  a{
    font-weight: bolder;
    color: var(--a);
    &:hover{
      color: var(--a-hover);
    }
  }

  height: 70px;
  background-color: var(--header-background);
  display: flex;
  justify-content: center;
  h3 {
    cursor: pointer;
    margin: 0 50px 0 0;
  }
  .basketPrice {
    img {
      width: 1.2rem;
      margin-right: 2px;
    }
  }
  .user {
    font-style: italic;
    font-weight: bold;
    border: 1px solid var(--link);
    margin: 0 5px;
  }
  .btn-primary {
    color: var(--link);
    background-color: var(--header-background);
    border-color: var(--link);
    box-shadow: none;
  }
  a.dropdown-item {
    font-weight: normal;
    color: var(--link);
    background-color: transparent;
    &:hover{
      background-color: var(--a-dropdown-hover);
    }
  }
  a.dropdown-item.active {
    background-color: var(--header-button-active);
    &:hover{
      background-color: var(--a-dropdown-hover);
    }
  }
}

@media (max-width: 650px) {
  .header {
    .bigHeader {
      display: none;
    }
    .smallHeader {
      display: flex;
      align-items: center;
      #button-basic {
        width: 120px;
        height: 40px;
      }
      .user {
        margin: 0;
      }
    }
  }
}

@media (max-width: 310px) {
  .header {
    height: 100px;
    .smallHeader {
      flex-direction: column;
      justify-content: center;
      h3 {
        margin: 0 0 10px;
      }
    }
  }
}
