.sectionLeftUser{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: var(--link);
    &:hover {
      background-color: var(--header-background);
    }
}
}

